*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --error-cl: salmon;
  --primary-cl: black;
  --secondary-cl: rgb(57, 143, 218);
  --tertiary-cl: rgb(239, 241, 242);

  --primary-btn-cl: var(--secondary-cl);
  --secondary-btn-cl: var(--panel-bg-cl);

  --light-font: 200;
  --regular-font: 300;
  --bold-font: 400;
  --primary-font-cl: black;
  --secondary-font-cl: gray;
  --tertiary-font-cl: rgb(43, 90, 130);

  --bg-cl: white;
  --panel-bg-cl: var(--bg-cl);
  --panel-border-cl: var(--secondary-cl);

  --border-cl: rgb(214, 216, 218);

  --band-bg-cl: var(--tertiary-cl);
  --band-cl: var(--tertiary-font-cl);
}

.title-font {
  font-size: x-large;
  font-weight: var(--bold-font);
}

.sub-title-font {
  font-size: large;
  font-weight: var(--bold-font);
  color: var(--secondary-font-cl);
}

.normal-font {
  font-size: 1rem;
  font-weight: var(--regular-font);
  color: var(--secondary-font-cl);
}

.small-font {
  font-size: 0.85rem;
  font-weight: var(--regular-font);
  color: var(--tertiary-font-cl);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5em;
  width: 100%;
}

body {
  background-color: var(--bg-cl);
  font-family: "Roboto", sans-serif;
}

main {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.panel-col {
  background-color: var(--panel-bg-cl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2em;
  border: 1px solid var(--panel-border-cl);
  border-radius: 20px;
  box-shadow: 0em 5em 5em 0em rgba(0, 0, 0, 0.05);
}

.panel-row {
  background-color: var(--panel-bg-cl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--panel-border-cl);
  border-radius: 20px;
}

.info-band {
  width: 100%;
  height: 4em;
  background-color: var(--band-bg-cl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--band-cl);
  padding-left: 2em;
  padding-right: 2em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.primary-btn {
  background-color: var(--primary-btn-cl);
  color: var(--bg-cl);
  border-radius: 0.25em;
  border: 1px solid var(--primary-btn-cl);
  padding: 0.5em 1em;
  font-size: 1.25rem;
  font-weight: var(--bold-font);
  cursor: pointer;
  line-height: 1.1;
}
