RUST_LOG=
ENV=development
PORT=
HOST="0.0.0.0"
POSTGRES_HOST=localhost
POSTGRES_PORT=
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
MAILGUN_API=
MAILGUN_USER_NAME=
MAILGUN_PASSWORD=
SMTP_PROVIDER=
CONFIRMATION_LINK=
CHANGE_PASSWORD_LINK=