.primary-btn {
  justify-content: center;
  background-color: var(--secondary-cl);
  color: var(--bg-cl);
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}

.secondary-btn {
  justify-content: center;
  border: solid 1px var(--tertiary-font-cl);
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}

.small-btn {
  width: 4em;
  padding-top: 6px;
  padding-bottom: 6px;
}
