.primary-btn {
  justify-content: center;
  background-color: var(--secondary-cl);
  color: var(--bg-cl);
  border-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.secondary-btn {
  justify-content: center;
  border: solid 1px var(--tertiary-font-cl);
  border-radius: 5px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.small-btn {
  width: 4em;
  padding-top: 6px;
  padding-bottom: 6px;
}

.tab-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1em;
}

.tab-item {
  padding: 0.5em;
  margin-right: 1em;
}
