.home {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 50%;
  height: 100vh;
  margin: auto;
}

.home-item-dev {
  grid-column: 1;
  justify-self: center;
  align-self: center;
  vertical-align: middle;
  background-color: var(--panel-bg-cl);
  padding: 3em;
}

.home-item-emp {
  grid-column: 2;
  justify-self: center;
  align-self: center;
  vertical-align: middle;
  background-color: var(--panel-bg-cl);
  padding: 3em;
}

.home-item-content {
  margin-top: 2rem;
}

.home-item-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home-icon {
  width: 20em;
  height: 20em;
}
