.leftmenu-container {
  background-color: var(--panel-bg-cl);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2em;
  border: 1px solid var(--border-cl);
  border-radius: var(--border-rad);
  height: 245px;
}

.leftmenu-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.leftmenu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  color: var(--primary-cl);
}

.leftmenu-icon {
  width: 1.25em;
  margin-right: 1em;
}

.leftmenu-header {
  margin-bottom: 1em;
}
