.dev-menu-container {
  height: 245px;
}

.dev-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  color: var(--primary-cl);
}

.dev-menu-icon {
  width: 1.25em;
  margin-right: 1em;
}

.left-menu-header {
  margin-bottom: 1em;
}
