.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--panel-bg-cl);
  width: 100%;
}

.login-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--secondary-font-cl);
  width: 100%;
  margin-bottom: 12px;
}

.login-item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-font-cl);
  width: 100%;
  margin-bottom: 12px;
}

.login-label {
  margin-bottom: 6px;
}

.authmodal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
