.modal-container {
  outline: 0;
  position: fixed;
  top: 5em;
  width: 400px;
  height: 400px;
  padding: 2em;
  border: solid 1px var(--border-cl);
  border-radius: 5px;
  margin: auto;
  opacity: 1;
  background-color: var(--bg-cl);
  transform: translateX(130%);
}
